@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("HelveticaNeueCyr-Light.eot");
    src: local("HelveticaNeueCyr-Light"), url("./assets/fonts/HelveticaNeueCyr-Light.woff") format('woff');
    font-weight: 300;
    font-style: normal;
}

// @font-face {
//     font-family: "ITCAvantGardeStd";
//     src: local("ITCAvantGardeStd"), url(./assets/fonts/ITCAvantGardeStd/ITCAvantGardeStdXLt) format(otf)
// }